<div class="container-fluid px-0 py-5 bg-black text-white">
      <div class="container-fluid px-0 position-relative text-center overflow-hidden">
        <div class="mx-auto w-50 text-center" style="padding-top: 10vh; padding-bottom: 5vh;">
          <h1>Let’s work together on your next project</h1>
          <div class="mx-auto w-70 text-center" style="padding-top: 5vh; padding-bottom: 5vh;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
              dapibus leo.</p>
          </div>
          <button class="btn btn-primary btn-lg my-1">Learn More</button>
        </div>
        <div class="social-icons d-flex justify-content-center align-items-center" style=" padding-bottom: 2vh;">
          <a href="#" class="mx-3 text-white">
            <i class="bi bi-facebook fs-2"></i>
          </a>
          <a href="#" class="mx-3 text-white">
            <i class="bi bi-twitter fs-2"></i>
          </a>
          <a href="#" class="mx-3 text-white">
            <i class="bi bi-instagram fs-2"></i>
          </a>
        </div>
        <p class="mt-4">Copyright 2023 - Neve FSE theme</p>
      </div>
</div>