<div class="container-fluid py-5">
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <h1>Featured Work</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-2 position-relative d-inline-block overflow-hidden">
            <img class="img-fluid w-100 h-100 position-absolute z-n1" src="https://picsum.photos/seed/img4/600/400">
                <div class=" w-50" style="padding-top: 50vh">
                    <button class="btn btn-outline-light btn-lg m-2">Details</button>
                </div>
            </div>
            <div class="col-sm-4 position-relative d-inline-block overflow-hidden">
                <img class="img-fluid w-100 h-100 position-absolute z-n1" src="https://picsum.photos/seed/img5/600/400">
                    <div class=" w-50" style="padding-top: 50vh">
                        <button class="btn btn-outline-light btn-lg m-2">Details</button>
                    </div>
                </div>
            </div>
</div>