{% extends 'src/partials/layout.njk' %}
{% block title %}Patterns{% endblock %}
{% block content %}
  <div class="container">
      <h1>Patterns</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, possimus.
      Blanditiis repellat porro animi eligendi explicabo et earum laborum id!
      Fuga cumque et assumenda accusamus, optio laborum debitis cupiditate unde.
      Soluta omnis impedit numquam neque asperiores sit error quasi illum.
      Laboriosam odio illo iure optio impedit quaerat quo magni obcaecati?
      Iste, laboriosam excepturi! Earum laborum commodi, harum ratione facilis ea.
      Explicabo, natus aut maiores inventore fugit sapiente quisquam fugiat vitae.
      Hic, ipsam repellat quo accusantium quaerat nihil incidunt optio et!
      Reprehenderit, esse animi fugit atque vero iusto necessitatibus consectetur accusantium.
      Libero facere vel, aut veniam voluptatum tenetur aspernatur repellendus obcaecati.</p>
  </div>
{% endblock %}